<section>
    <!-- <div class="">
        <h1 class="text-center header-title" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);font-size: 30px;font-weight: 600;">
            My Project Highlights</h1>
    </div> -->
    <div class="container">
        <div class="row my-5">
            <div class="col-6">
                <div class="card">
                    <div class="card-body mx-3 pt-5">
                        <i class="fa-regular fa-file icon-circle position-absolute"
                            style="top: -30px; left: 30px;font-size: 40px;color: white;"></i>
                        <span class="header-title mb-2">01 june 2023 - 31 august 2023 </span>
                        <h2 class="header-title text-uppercase"> Resume Builder</h2>
                        <p class="project-info">A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body mx-3 pt-5">
                        <i class="fa-solid fa-ticket icon-circle position-absolute"
                            style="top: -30px; left: 30px;font-size: 40px;color: white;padding-left: 11px !important;"></i>
                        <span class="header-title  my-5">01 august 2023 - 31 december 2023</span>
                        <h2 class="header-title text-uppercase">Ticket management system</h2>
                        <p class="project-info">A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row my-5">
            <div class="col-6">
                <div class="card">
                    <h1>Project 3</h1>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <h1>project 4</h1>
                </div>
            </div>
        </div>
    </div> -->
</section>