<div class="container-fluid">
<div class="container p-4" style="background-color: white;">
    <div class="row">
        <!-- <div class="my-2">
            <h1 class="text-center header-title">About Me</h1>
        </div> -->
        <div class="col-4">
            <div class="about-me">     
            </div>
            <div class="">
                <h3 class="text-center text-uppercase mt-2">FullStack Developer</h3>
            </div>
        </div>
        <div class="col-7">
            <p class="info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                ibhgfrffvbhubnnjnkmndustry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.
            </p>

            <div class="my-4" *ngFor="let items of details">
                <h3 class="header-title">PERSONAL DETAILS :</h3>
                <p>Full Name: <span class="info">{{items.name}}</span></p>
                <p>Email:  <span class="info">abcd1234@gmail.com</span></p>
                <p>Phone: <span class="info"> 9876543210</span></p>
                <p>Dob:  <span class="info">15 April 2000</span></p>
                <p>Address: <span class="info"> Hyderabad</span></p>

            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="">
        <h1 class="text-center"> Skills</h1>
    </div>
    <div class="card" style="border: none;">
        <div class="row mx-3">
            <div class="col-6 mt-2">
                <div class="my-3">
                    <p>HTML 100%</p>
                    <div class="progress ">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    <p>CSS 75%</p>
                    <div class="progress my-3">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="">
                    <p>Java Script</p>
                    <div class="progress my-3">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="">
                    <p>Angular</p>
                    <div class="progress my-3">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-2">
                <div class="my-3">
                    <p>C#</p>
                    <div class="progress my-3">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div>
                    <p>ASP .NET CORE</p>
                    <div class="progress my-3">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class=" mb-5">
                    <p>SQL SERVER</p>
                    <div class="progress my-3">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>